.input-wrapper {
  margin: 10px 0;

  &__input {
    width: 100%;
    height: 45px;
    border: 1px solid #DCDBFF;
    border-radius: 13px;
    padding: 15px;
    margin-bottom: 10px;

    &::placeholder {
      color: #6F8BA4;
    }
    &:focus {
      outline: 1.5px solid #DCDBFF;
    }
  }
}

.button {
  background-color: #504DE5;
  border: 0;
  width: 100%;
  padding: 8px 0;
  border-radius: 1.5em;
  transition: .2s ease-out;

  &:hover {
    background-color: rgba(80, 77, 229, 0.9);
  }
  &:focus {
    outline: 0;
  }

  &.disabled {
    background-color: rgba(80, 77, 229, 0.7);
  }

  &__content {
    color: white;
  }
}
