.auth_page {
    width: 100%;
    min-height: 100vh;
    background: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth_page form {
    background: #fff;
    width: 320px;
    border: 1px solid #DCDBFF;
    border-radius: 3px;
    padding: 10px 40px 30px;
    text-align: center;
}

.auth_page form .form-logo {
    width: 70px;
    fill: rgba(51, 51, 51, 0.9);
}

.auth_page form .pass {
    position: relative;
}

.auth_page form .pass small {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}

.auth_page .navigate-box {
    background: #fff;
    width: 320px;
    border: 1px solid #DCDBFF;
    border-radius: 3px;
    margin-top: 10px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_page .navigate-box .text {
    margin: 0
}
