.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading svg{
    font-size: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    animation: text 1.5s infinite cubic-bezier(1,.01,.68,1.07);
    width: 100px;
}

@keyframes text{
    50%{ opacity: 0.5 }
}
